In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("USA_Housing.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [4]:
data.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [5]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [6]:
data.drop(["Address"], axis=1, inplace=True)

In [7]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [8]:
# Sperate my data as features and label

features = data.iloc[:,[0,1,2,3,4]].values
label = data.iloc[:,[5]]

In [9]:
# Create train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(features,
                                                 label,
                                                 test_size=0.2,
                                                 random_state=3)

In [10]:
X_train

array([[7.90952792e+04, 6.66680887e+00, 6.73853368e+00, 2.50000000e+00,
        2.36242489e+04],
       [6.03259859e+04, 6.81245207e+00, 7.64743861e+00, 6.45000000e+00,
        3.84180583e+04],
       [6.80618143e+04, 5.77691241e+00, 8.06764570e+00, 3.02000000e+00,
        3.06893026e+04],
       ...,
       [7.24881597e+04, 5.64363914e+00, 8.20529421e+00, 4.03000000e+00,
        4.11992522e+04],
       [8.85080535e+04, 6.41739743e+00, 5.81124793e+00, 4.08000000e+00,
        3.60012625e+04],
       [7.11464893e+04, 6.65175544e+00, 5.91497724e+00, 3.44000000e+00,
        2.28756933e+04]])

In [11]:
# Apply Regression to create the model
# Model Convergence ---- Training model using algo

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [12]:
# Guidelines

#
# Model Convergence Exploration Phase - Goal is to get those models that fit our criteria of Generalization
#

#
# Universal Law: Statistics says every algorithm related to data and model
# convergence gets affected based on the Sample and its representation (Based on how sampling is done)
#

# EarlyStopping --- Stopping the training as soon as our criteria is achieved

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

CL = 0.7

for randomValue in range(1, 100):
    X_train, X_test, Y_train, Y_test = train_test_split(features,
                                                   label,
                                                   test_size=0.2,
                                                    random_state=randomValue)
    model = LinearRegression()
    model.fit(X_train, Y_train)

    trainScore = model.score(X_train, Y_train)
    testScore = model.score(X_test, Y_test)

    if testScore > trainScore and testScore >= CL:
        print(f"Test score {testScore} Train score {trainScore}")
        break
    else:
        print("Alert! Improve the model !")

Test score 0.9215935236936342 Train score 0.9170083707375688

In [13]:
# Deploy Code

areaIncome = float(input("Enter area Income: "))
areaHouseAge = float(input("Enter Area house Age: "))
areaNoRooms = float(input("Enter The number of Rooms: "))
areaNoBedRooms = float(input("Enter The number of Bed Rooms: "))
areaPopulation = float(input("Enter the population: "))

finalFeature = np.array([[areaIncome, areaHouseAge, areaNoRooms, areaNoBedRooms, areaPopulation]])
finalFeature

Enter area Income: 44242
Enter Area house Age: 2
Enter The number of Rooms: 5
Enter The number of Bed Rooms: 3
Enter the population: 32423432

array([[4.4242000e+04, 2.0000000e+00, 5.0000000e+00, 3.0000000e+00,
        3.2423432e+07]])

In [14]:
predictedPrice = model.predict(finalFeature)
print(f"Predicated price: {predictedPrice}")

Predicated price: [[4.90486903e+08]]

In [15]:
# Exporting relevant object
import pickle

pickle.dump(model , open("PricePredictor.pkl","wb"))